body {
    margin: 0;
    padding: 0;
}

#grid-container {
    grid-template-columns: repeat(50, auto);
    display: inline-grid;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    box-sizing: border-box;
}

.alive {
    background-color: green;
}

.neighbor {
    background-color: yellow;
}